{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col">
      <div class="card">
        <h3 class="card-header">
          <i class="material-icons">sync</i> Panel de Sincronización
        </h3>
        <div class="card-body">
          <p>
            ¡Hola! Esta es la página de tu panel.
          </p>
          <p>
            Aquí es donde pondremos la lista de productos de la tienda vieja.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
